/* Footer adjustments */
main {
  margin-bottom: 80px;
}
.footer {
  margin-top: 4%;
  height: 60px;
  line-height: 60px;
}

.fa-trash {
  float: right;  
}

.btn:hover {
  text-decoration: none;
}

span{
  color: white;
  font-size: larger;
}