/* Footer adjustments */
main {
  margin-bottom: 80px;
}
.footer {
  margin-top: 4%;
  height: 60px;
  line-height: 60px;
}

.fa-trash {
  float: right;  
}

.fa:hover {
  font-size: larger;
}

#uviButton[disabled] { 
  pointer-events: none;

}

.orange {
  background-color: rgb(170, 116, 0);
  border-color: rgb(170, 116, 0);
}

.purple {
  background-color: purple;
  border-color: purple;
}